// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 1.0rem;
// $line-height-base: 1.6;

$gray: #818894;
$gray-100: #f9f9f9;
$gray-200: #f1f1f1;
$gray-300: #ececec;
$gray-disabled: #D0D0D0;
$gray-400: #ADADAD;
$black: #343434;
$white: #ffffff;
$blue: #27aeff;
$green: #43d477;
$green-light: #50F616;
$dark2: #4F4F4F;
$orange: #ffab00;
$red-d100: #9E0000;

$primary: #d22121;
$dark-100: #F5F5F5;
$dark-light: #818894;
$primary-dark: #9E0000;
$secondary: #1f3b64;
$success: #54e07e;
$info: #ebf7ff;
$warning: #ffab00;
$danger: #f63c3c;
$dark: $black;
$panel-bg: #fbfbfd;

$info-light: #f7fafd;
$dark-blue: #171347;

// $font-family-sans-serif: 'Roboto', sans-serif !default;
